@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-sidebar {
  left: -100%;
  transition: left 0.3s ease-in-out;
}
.sidebar-open {
  left: 0;
}

/* glowing btn */
@keyframes glowing {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.glowing-button {
  animation: glowing 2s infinite;
}
